<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myloginapp">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLoginApp">
        <activity android:name=".FragmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Map.MapsActivity" />
        <activity android:name=".WhowroteItActivity" />
        <activity android:name=".ui.WebServicesActivity" />
        <activity android:name=".MyAlarmActivity" />

        <service android:name=".MyServices.MyService" />
        <service android:name=".MyServices.MyBoundServices" />

        <activity android:name=".MyServices.MyServicesActivity" />
        <activity android:name=".ui.AsyncTaskActivity" />
        <activity
            android:name=".DashBorad"
            android:label="@string/title_activity_dash_borad"
            android:theme="@style/Theme.MyLoginApp.NoActionBar" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">

        </activity>

        <receiver
            android:name=".SmsReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.provider." />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>